---
import Layout from '../layouts/Layout.astro';
import Card from '../components/Card.astro';
import dayjs from 'dayjs';
import { ExternalLink } from 'astro-feather-icons';

const dateOfBirth = dayjs('2007-06-07')
const now = dayjs()

const age = now.diff(dateOfBirth, 'year')
---

<Layout title="Welcome to Astro.">
	<main class="min-h-screen w-full bg-black flex flex-col lg:flex-row text-white">
		<div class="pl-2 font-display grid grid-cols-1 grid-rows-1 mt-6 lg:mt-0 lg:w-1/6">
			<h1 class="text-2xl lg:text-[15vw] lg:-rotate-90 place-self-center">peony</h1>
		</div>
		<div class="lg:ml-12 px-6 mt-12 flex flex-col justify-center w-full text-sm lg:text-base">
			<h1 class="font-bold text-xl lg:text-2xl pb-2">ABOUT ME</h1>
			<p>
				hi! i'm peony, and i'm a self taught progammer!<br />
				i'm currently { age }, and i'm from 🇵🇱 poland!<br />
				i go by she/her!
			</p>

			<h1 class="font-bold text-xl lg:text-2xl pt-12 pb-2">PROJECTS</h1>
			<p>
				<span class="flex lg:flex-row flex-col space-x-1">
					<a class="underline font-semibold flex space-x-0.5 items-center hover:text-neutral-400" href="https://github.com/peonii/moonstone"><span>moonstone</span> <ExternalLink size="16" /></a><span>- an automatic testing suite for algorithms</span><br />
				</span>
				<span class="flex space-x-1">
					<span class="font-semibold">inertia</span>
					<span>- an irl game manager for</span>
					<a class="underline flex space-x-0.5 items-center hover:text-neutral-400" href="https://www.youtube.com/c/jetlagthegame"><span>jet-lag-type</span> <ExternalLink size="16" /></a><span>games</span><br />
				</span>
				<span class="font-semibold">cosmolight</span> - ???<br />
			</p>

			<h1 class="font-bold text-xl lg:text-2xl pt-12 pb-2">SOCIALS</h1>
			<p>
				<span class="text-neutral-400">if possible, please dm me on discord!</span>
				<br />
				<span class="flex space-x-1">
					<span>discord -</span>
					<button onclick="navigator.clipboard.writeText('peony#6666')" class="rounded-sm hover:bg-neutral-800 font-semibold">peony#6666</button><span class="text-neutral-500 ml-1">(click to copy)</span><br />
				</span>
				<span class="flex space-x-1">
					<span>twitter -</span>
					<a class="underline font-semibold flex space-x-0.5 items-center hover:text-neutral-400" href="https://twitter.com/peoniaee"><span>@peoniaee</span> <ExternalLink size="16" /></a>
				</span>
				<span class="flex space-x-1">
					<span>youtube -</span>
					<a class="underline font-semibold flex space-x-0.5 items-center hover:text-neutral-400" href="https://youtube.com/@peony6666"><span>@peony6666</span> <ExternalLink size="16" /></a>
				</span>
				<br />
				<p class="text-neutral-400">or maybe if you're of the traditional sort...</p>
				<span class="flex space-x-1">
					<span>email -</span>
					<a class="underline font-semibold flex space-x-0.5 items-center hover:text-neutral-400" href="mailto:mail@peony.wtf"><span>mail@peony.wtf</span> <ExternalLink size="16" /></a>
				</span>
			</p>
		</div>
	</main>
</Layout>
